body {
   margin     : 0;
   padding    : 0;
   box-sizing : border-box;
   font-family: 'Outfit', sans-serif;
}

.container {
   max-width: 1200px;
   margin   : 0 auto;
}

.cont {
   display        : flex;
   justify-content: center;
}

.wrapper {
   padding: 70px 0 90px 0;
}


.nav-bar {
   background-color: #0371dc;
   position        : fixed;
   top             : 0;
   left            : 0;
   width           : 100%;



   .nav-container {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      padding        : 5px 10px;

      .nav-links {
         display    : flex;
         align-items: center;
      }
   }

   .link {
      margin         : 0 30px 0 30px;
      text-decoration: none;
      text-transform : uppercase;
      letter-spacing : 2px;
      color          : #ffffff;

      &:last-child {
         margin: 0;
      }

      @media all and (max-width: 500px) {
         margin        : 0 10px 0 10px;
         letter-spacing: 1px;
      }
   }
}


.products {
   display        : flex;
   flex-wrap      : wrap;
   justify-content: center;

   .product-card {

      .search-term {
         text-transform: uppercase;
      }

      display        : flex;
      flex-direction : column;
      align-items    : center;
      padding        : -8px;
      margin         : 8px;
      border-radius  : 20px;
      overflow       : hidden;
      text-align     : center;
      flex-grow      : 1;

      .img {
         max-width: 250px;
         flex     : 1 1 auto;

         img {
            width: 100%;
         }
      }

      .bad-info {
         width: 100%;

         @media all and (max-width: 500px) {

            h2,
            h3 {
               font-size: 34px;
               margin   : 10px 0;
            }

            h4 {
               font-size: 22px;
               margin   : 10px 0;
            }
         }
      }

      .add-button {
         border          : none;
         background-color: #0371dc;
         color           : #ffffff;
         font-size       : 1.2rem;
         padding         : .5rem 1.5rem;
         border-radius   : 25px;
         margin          : 0 0 10px 0;

         -webkit-box-shadow: 0 5px 1px rgba(0, 56, 139, 0.5);
         box-shadow        : 0 5px 1px rgba(0, 56, 139, 0.5);
         letter-spacing    : 2px;

         &:active {
            position          : relative;
            top               : 3px;
            -webkit-box-shadow: 0 2px 1px rgba(0, 56, 139, 0.5);
            box-shadow        : 0 2px 1px rgba(0, 56, 139, 0.5);
         }
      }
   }
}


.header {
   font-size     : 34px;
   text-align    : center;
   font-weight   : 400;
   letter-spacing: 1px;

   @media all and (max-width: 500px) {
      font-size: 18px;
   }
}

.filter-btn {
   display         : inline-block;
   margin          : 0 30px;
   border          : 2px solid #0371dc;
   border-radius   : 10px;
   min-width       : 130px;
   background-color: #ffffff;
   color           : #0371dc;
   font-size       : 24px;
   letter-spacing  : 1.5px;

   &:hover {
      background-color: #0371dc;
      color           : #ffffff;
   }

   &:active {
      color           : #ffffff;
      background-color: #16518b;
   }

   @media all and (max-width: 500px) {
      margin   : 0 10px;
      font-size: 16px;
      min-width: 80px;
   }
}


.about__row {
   display        : flex;
   justify-content: space-around;
   padding        : 30px 0 0 0;

   .about-list {
      list-style-type: none;
      font-size      : 28px;

      li {
         position: relative;
         padding : 0 0 20px 40px;

         @media all and (max-width: 500px) {
            font-size: 20px;
         }

         &::before {
            content         : '';
            background-image: url('./flexed-biceps.svg');
            position        : absolute;
            width           : 30px;
            height          : 30px;
            top             : 0;
            left            : 0;
         }
      }
   }

   @media all and (max-width: 500px) {
      flex-direction: column;

      img {
         width: 300px;
      }
   }
}

.text {
   margin   : 55px 0 0 0;
   font-size: 22px;
}